@use "sass/color";
@use "sass/font";
@use "sass/mixin";
@use "sass/size";

.FundsTab {
    display: grid;
    grid-template: "balances" 1fr / 1fr;

    .balances {
        grid-area: balances;
        padding-bottom: size.$gap;
        position: relative;
        overflow: hidden;
    }
}
