@use 'sass/color';
@use 'sass/size';
@use 'sass/font';
@use 'sass/mixin';

.light-textfield {
    &.MuiTextField-root {
        .MuiInputLabel-root, .MuiFilledInput-root.Mui-focused {
            color: color.$light-text !important;
        }
        .MuiFilledInput-root, .MuiFilledInput-root:hover {
            background-color: rgba(color.$white, 0.06) !important;
            &::before, &:hover::before {
                border-bottom: 1px solid rgba(color.$white, 0.42);
            }
            &::after {
                border-bottom: 2px solid color.$white;
            }
            input, textarea {
                color: color.$white;
                font-size: size.$text;
            }
            textarea {
                @include mixin.no-scrollbar;
                white-space: pre;
                overflow-x: scroll !important;
            }
        }
        *:not(input) {
            color: color.$light-text;
            font-size: 1em;
        }
        font-size: 1.8rem;
    }
}

.spacer {
    flex: 1;
}

.tab-panel {
    height: calc(100% - size.$tab-list-height - 2 * size.$gap);
    @include mixin.center-items;
    flex-flow: column;
    gap: size.$gap;
    & > div {
        display: flex;
        flex-flow: column nowrap;
        height: calc(100% - size.$gap);
        width: calc(100% - (2 * size.$gap));
        padding: 0 size.$gap size.$gap size.$gap;
    }
}

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    &::after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid color.$lightish;
        border-color: color.$lightish transparent color.$lightish transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}