@use 'sass/color';
@use 'sass/size';
@use 'sass/font';
@use 'sass/mixin';

.themed-input {
    background-color: #ffffff;
    height: size.$text;
    text-align: right;
    font-family: font.$code;
    font-size: size.$small-text;
    border: 1px solid color.$dark;
}

.themed-textarea {
    background-color: #ffffff;
    height: 200px;
    text-align: left;
    font-family: font.$code;
    font-size: size.$small-text;
    border: 1px solid color.$dark;
}

.spacer {
    flex: 1;
}

.tab-panel {
    height: calc(100% - size.$tab-list-height - 2 * size.$gap);
    @include mixin.center-items;
    flex-flow: column;
    gap: size.$gap;
    & > div {
        display: flex;
        flex-flow: column nowrap;
        height: calc(100% - size.$gap);
        width: calc(100% - (2 * size.$gap));
        padding: 0 size.$gap size.$gap size.$gap;
    }
}

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    &::after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid color.$lightish;
        border-color: color.$lightish transparent color.$lightish transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}