$unit: 1.6rem;
$gap: 3.2rem;

$stroke: 3.2rem;

$smaller-text: 1.2rem;
$small-text: 1.4rem;
$text: 1.8rem;
$large-text: 2.4rem;
$huge-text: 9.6rem;

$task-height: 15rem;
$task-width: 40rem; 
$task-radius: 2.4rem;

$menu-width: 0rem;// 25vw;