$unit: 1.6rem;
$gap: 2rem;

$stroke: 3.2rem;

$smaller-text: 1rem;
$small-text: 1.2rem;
$text: 1.4rem;
$large-text: 2.0rem;
$huge-text: 6rem;

$task-height: 10rem;
$task-width: 18rem; 
$task-radius: 2.4rem;

$menu-width: 0rem;// 25vw;

$tab-list-height: 2rem;