@use "sass/size";

.SettingsEditor {
    grid-area: SettingsEditor;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: size.$gap;
    height: 100%;

    grid-template-areas:
        "TokenWhitelistChange SchedulingSettingsChange"
        "TokenWhitelistChange SettingsProposalCreate";
}
