@use "sass/size";

.SettingsEditor {
    grid-area: SettingsEditor;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: size.$gap;
    height: 100%;

    grid-template-areas:
        "TokenWhitelistChange SchedulingSettingsChange"
        "TokenWhitelistChange SettingsProposalCreate";

    &-error {
        grid-area: SettingsEditorError;
    }

    &.is-displayingError {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "SettingsEditorError";
    }

    &.is-displayingError > *:not(&-error) {
        display: none;
    }

    &:not(&.is-displayingError) &-error {
        display: none;
    }
}
