$green: #7ec699;
$purple: #cc99cd;
$red: #e2777a;
$blue: #6196cc;

$highlight: #C8E3D4;
$primary: #37afa9;
$light: #e0e0e0;
$dark: #888888;

$highlight10: #C8E3D410;
$primary10: #37afa910;
$light10: #e0e0e010;
$dark10: #88888810;

$highlight20: #C8E3D420;
$primary20: #37afa920;
$light20: #e0e0e020;
$dark20: #88888820;

$text: #2a2a2a;
$light-text: #e0e0e0;