@mixin full {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@mixin center-items($x: center, $y: center) {
    display: flex;
    justify-content: #{$x};
    align-items: #{$y};
}

@mixin no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin no-wrap {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;  
}