@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titillium+Web:ital,wght@0,200;0,400;0,600;1,400&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titillium+Web:ital,wght@0,200;0,400;0,600;1,400&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titillium+Web:ital,wght@0,200;0,400;0,600;1,400&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titillium+Web:ital,wght@0,200;0,400;0,600;1,400&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titillium+Web:ital,wght@0,200;0,400;0,600;1,400&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Titillium+Web:ital,wght@0,200;0,400;0,600;1,400&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
* {
  margin: 0;
  font-family: Titillium Web, sans-serif;
}

body, html, #root {
  width: 100%;
  height: 100%;
  background-color: #edfdf9;
  font-size: 62.5%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #b2dff2 !important;
}

button {
  color: #2a2a2a;
  cursor: pointer;
  background-color: #b4ccca;
  border: none;
  padding: 1.6rem 6.4rem;
  font-family: Titillium Web, sans-serif;
  font-size: 2.4rem;
}

.layout-wrapper {
  height: calc(100% - 6.4rem);
  flex-flow: row;
  display: flex;
  position: relative;
  top: 6.4rem;
}

.layout-wrapper .layout-container {
  width: 100%;
  height: 100%;
  width: auto;
  flex-flow: row;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0 0 0 3.2rem;
  display: flex;
  position: relative;
}

.layout-wrapper .layout-container[tutorial="yes"]:before {
  content: " ";
  height: 40vh;
  opacity: .2;
  filter: none;
  width: 28%;
  background-image: url("sequence.73ea57d9.svg");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
  position: absolute;
  top: 30vh;
  left: 15%;
}

.layout-wrapper .layout-container[tutorial="no"]:before {
  content: " ";
  height: 40vh;
  opacity: .2;
  filter: none;
  width: 28%;
  opacity: 0;
  filter: blur(5px);
  background-image: url("sequence.73ea57d9.svg");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
  position: absolute;
  top: 30vh;
  left: 15%;
}

.layout-wrapper .layout-container[tutorial="yes"]:after {
  content: " ";
  height: 40vh;
  opacity: .2;
  filter: none;
  width: 35%;
  background-image: url("parallel.0a368d50.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
  position: absolute;
  top: 30vh;
  right: 15%;
}

.layout-wrapper .layout-container[tutorial="no"]:after {
  content: " ";
  height: 40vh;
  opacity: .2;
  filter: none;
  width: 35%;
  opacity: 0;
  filter: blur(5px);
  background-image: url("parallel.0a368d50.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
  position: absolute;
  top: 30vh;
  right: 15%;
}

.layout-wrapper .empty-container {
  flex-shrink: 0;
  flex-basis: 52.8rem;
  transition: flex-basis .2s ease-out;
}

.layout-wrapper .empty-container.expanded-empty {
  flex-basis: calc(6.4rem + 50%);
  transition: flex-basis .2s ease-out;
}

.layout-wrapper:before {
  content: "";
  height: 7.6rem;
  min-width: 100%;
  background-color: #b4ccca;
  position: fixed;
  top: 6.4rem;
  left: 0;
}

.column-container {
  min-height: calc(100% - 6.4rem);
  width: 40rem;
  background-color: #dcefea40;
  border-radius: 2.4rem;
  flex-flow: column;
  flex: 0 0 40rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.2rem;
  margin-right: 3.2rem;
  padding: 0 3.2rem;
  display: flex;
  position: relative;
}

.column-container .drag-handle {
  color: #8fa9ac;
  padding: 1.6rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  scale: 3 1;
}

.column-container .drag-handle:hover, .column-container .drag-handle:focus {
  color: #4c6773;
}

.column-container .hidden {
  display: none;
}

.column-container .delete-column {
  color: #8fa9ac;
  cursor: pointer;
  font-size: 2.4rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.column-container .delete-column:hover, .column-container .delete-column:focus {
  color: #4c6773;
}

.column-container:not(:last-of-type) > .add-column {
  opacity: 0;
}

.column-container:last-of-type > .add-column {
  color: #8fa9ac;
  cursor: pointer;
  font-size: 2.4rem;
  transition: opacity .2s ease-in-out;
  position: absolute;
  top: 1.6rem;
  right: -3.2rem;
}

.column-container:last-of-type > .add-column:hover, .column-container:last-of-type > .add-column:focus {
  color: #4c6773;
}

.column-container .tasks-wrapper {
  width: 100%;
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.task-wrapper {
  width: 40rem;
  min-height: 19.2rem;
  border-radius: 2.4rem;
  margin-bottom: 3.2rem;
  overflow: hidden;
}

.menu-container {
  width: 0;
  height: calc(100% - 6.4rem);
  min-width: 46.4rem;
  z-index: 2;
  background-color: #4c6773;
  border-radius: 2.4rem;
  transition: width .2s ease-out;
  position: fixed;
  top: 3.2rem;
  right: 3.2rem;
  box-shadow: 1px 10px 20px #0003;
}

.menu-container .tabs {
  height: 100%;
}

.menu-container .tabs .tab-list {
  width: calc(100% - 6.4rem);
  height: 3.2rem;
  background-color: #2f485840;
  border-radius: 2.4rem;
  justify-content: center;
  align-items: center;
  margin: 3.2rem;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.menu-container .tabs .tab-list button {
  width: 30%;
  height: 100%;
  color: #e0e0e0;
  background-color: #0000;
  flex: 1;
  padding: 0;
  font-size: 1.8rem;
}

.menu-container .tabs .tab-list button:focus, .menu-container .tabs .tab-list button:hover {
  background-color: #2f485840;
}

.menu-container .tabs .tab-list button.active-tab {
  color: #2a2a2a;
  background-color: #b4ccca;
}

.menu-container .tabs .hidden {
  display: none;
}

.menu-container .tabs .active-panel {
  width: 100%;
  height: 100%;
}

.toggle-size {
  width: 5.6rem;
  transition: transform .2s linear;
  position: absolute;
  top: calc(50% - 1.2rem);
  left: -2.8rem;
}

.toggle-size .icon {
  scale: 1.2;
}

.toggle-size.expand {
  transform: scaleX(1);
}

.toggle-size.expand .icon {
  color: #8fa9ac;
  font-size: 2.4rem;
}

.toggle-size.expand .icon:hover, .toggle-size.expand .icon:focus {
  color: #4c6773;
}

.toggle-size.collapse {
  transform: scaleX(-1);
}

.toggle-size.collapse .icon {
  color: #8fa9ac;
  font-size: 2.4rem;
}

.toggle-size.collapse .icon:hover, .toggle-size.collapse .icon:focus {
  color: #dcefea;
}

.expanded-menu {
  width: 50%;
  transition: width .2s ease-out;
}

.themed-input {
  height: 1.8rem;
  text-align: right;
  background-color: #fff;
  border: 1px solid #4c6773;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
}

.themed-textarea {
  height: 200px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #4c6773;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
}

.spacer {
  flex: 1;
}

.tab-panel {
  height: calc(100% - 9.6rem);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  display: flex;
}

.tab-panel > div {
  height: calc(100% - 3.2rem);
  width: calc(100% - 6.4rem);
  flex-flow: column;
  padding: 0 3.2rem 3.2rem;
  display: flex;
}

.loader {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.loader:after {
  content: " ";
  width: 64px;
  height: 64px;
  border: 6px solid #8fa9ac;
  border-color: #8fa9ac #0000;
  border-radius: 50%;
  margin: 8px;
  animation: lds-dual-ring 1.2s linear infinite;
  display: block;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.builder-container {
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
  display: flex;
}

.selector {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  z-index: 2;
  width: 40rem;
  max-height: 100%;
  border-radius: 2.4rem;
  flex: 1;
  overflow-y: scroll;
}

.selector::-webkit-scrollbar {
  display: none;
}

.selector .column-container {
  width: 100%;
  height: 100%;
  background-color: #0000 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.selector .column-container .tasks-wrapper {
  background-color: #2f485840;
  flex: 1;
}

.selector .column-container .tasks-wrapper .task-wrapper:last-of-type {
  margin-bottom: 0 !important;
}

.selector .column-container .tasks-wrapper .icon {
  display: none;
}

.trash {
  z-index: 2;
  width: 100%;
  height: 19.2rem;
  flex: 0 0 19.2rem;
}

.trash .column-container {
  width: 100%;
  height: 100%;
  background-color: #2f485840;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}

.trash .column-container .tasks-wrapper {
  height: 100%;
}

.trash .column-container .icon {
  color: #e0e0e0;
  font-size: 9.6rem;
  position: absolute;
}

.themed-input {
  height: 1.8rem;
  text-align: right;
  background-color: #fff;
  border: 1px solid #4c6773;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
}

.themed-textarea {
  height: 200px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #4c6773;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
}

.spacer {
  flex: 1;
}

.tab-panel {
  height: calc(100% - 9.6rem);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  display: flex;
}

.tab-panel > div {
  height: calc(100% - 3.2rem);
  width: calc(100% - 6.4rem);
  flex-flow: column;
  padding: 0 3.2rem 3.2rem;
  display: flex;
}

.loader {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.loader:after {
  content: " ";
  width: 64px;
  height: 64px;
  border: 6px solid #8fa9ac;
  border-color: #8fa9ac #0000;
  border-radius: 50%;
  margin: 8px;
  animation: lds-dual-ring 1.2s linear infinite;
  display: block;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.placeholder {
  color: #e0e0e0;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 3.2rem;
  font-size: 1.8rem;
  display: flex;
}

.placeholder .huge-icon {
  margin-top: -6.4rem;
  margin-bottom: 3.2rem;
  font-size: 19.2rem;
}

.placeholder h3 > .icon {
  font-size: 2.4rem;
}

.themed-input {
  height: 1.8rem;
  text-align: right;
  background-color: #fff;
  border: 1px solid #4c6773;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
}

.themed-textarea {
  height: 200px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #4c6773;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
}

.spacer {
  flex: 1;
}

.tab-panel {
  height: calc(100% - 9.6rem);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  display: flex;
}

.tab-panel > div {
  height: calc(100% - 3.2rem);
  width: calc(100% - 6.4rem);
  flex-flow: column;
  padding: 0 3.2rem 3.2rem;
  display: flex;
}

.loader {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.loader:after {
  content: " ";
  width: 64px;
  height: 64px;
  border: 6px solid #8fa9ac;
  border-color: #8fa9ac #0000;
  border-radius: 50%;
  margin: 8px;
  animation: lds-dual-ring 1.2s linear infinite;
  display: block;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.export-container {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex-flow: column;
  gap: 3.2rem;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  overflow-y: scroll;
}

.export-container::-webkit-scrollbar {
  display: none;
}

.export-container:after {
  content: " ";
  white-space: pre;
  visibility: hidden;
  width: 100%;
}

.section {
  width: 100%;
  max-height: 25%;
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section .header {
  width: calc(100% - 3.2rem);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.section .header h3 {
  color: #e0e0e0;
  text-align: left;
  font-size: 1.8rem;
}

.section .header .icon {
  color: #8fa9ac;
  cursor: pointer;
  font-size: 1.8rem;
}

.section .header .icon:hover, .section .header .icon:focus {
  color: #dcefea;
}

.section .value {
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #2f485840;
  border-radius: 2.4rem;
  flex: 1;
  overflow-y: scroll;
}

.section .value::-webkit-scrollbar {
  display: none;
}

.section .value .code {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  color: #e0e0e0;
  padding: 1.6rem;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
  overflow: auto;
}

.input-container {
  padding-top: 1.2rem;
}

.input-container .unitInput {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.input-container .unitInput .MuiTextField-root {
  width: unset !important;
}

.input-container .unitInput .MuiTextField-root:first-of-type {
  flex: 2 auto;
}

.input-container .unitInput .MuiTextField-root:last-of-type {
  flex: 1 0 40px;
  margin-left: .8rem;
}

.input-container .unitInput .MuiTextField-root:last-of-type select {
  height: 2rem;
  font-size: 1.4rem;
  line-height: 1rem;
}

.input-container .unitInput:first-of-type .MuiTextField-root:first-of-type fieldset {
  border-radius: 2.4rem 0 0;
}

.input-container .unitInput:first-of-type .MuiTextField-root:last-of-type fieldset {
  border-radius: 0 2.4rem 0 0;
}

.input-container .unitInput:last-of-type .MuiTextField-root:first-of-type fieldset {
  border-radius: 0 0 0 2.4rem;
}

.input-container .unitInput:last-of-type .MuiTextField-root:last-of-type fieldset {
  border-radius: 0 0 2.4rem;
}

.input-container .checkbox {
  width: 100%;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.input-container .checkbox p {
  color: #e0e0e0;
  font-size: 1.4rem;
}

.input-container .checkbox .MuiCheckbox-root {
  color: #b4ccca;
}

.input-container .checkbox .MuiCheckbox-root.Mui-checked {
  color: #93c99e;
}

.input-container .checkbox .MuiCheckbox-root .MuiSvgIcon-root {
  font-size: 1.8rem;
}

.input-container .MuiTextField-root {
  width: 100%;
  font-size: 1.8rem;
}

.input-container .MuiTextField-root p.Mui-error {
  color: #f6a7b2;
  font-family: Titillium Web, sans-serif;
  font-size: 1.4rem;
}

.input-container .MuiTextField-root p.Mui-error:before {
  content: "Error: ";
}

.input-container .MuiTextField-root label {
  font-family: Titillium Web, sans-serif;
}

.input-container .MuiTextField-root label.Mui-focused {
  color: #e0e0e0;
}

.input-container .MuiTextField-root label.Mui-error {
  color: #f6a7b2;
}

.input-container .MuiTextField-root .MuiOutlinedInput-root input, .input-container .MuiTextField-root .MuiOutlinedInput-root textarea {
  color: #edfdf9;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
}

.input-container .MuiTextField-root .MuiOutlinedInput-root textarea {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: pre;
  overflow-x: scroll !important;
}

.input-container .MuiTextField-root .MuiOutlinedInput-root textarea::-webkit-scrollbar {
  display: none;
}

.input-container .MuiTextField-root .MuiOutlinedInput-root fieldset {
  background-color: #2f485840;
  border-width: 1px;
  border-color: #8fa9ac;
  border-radius: 0;
}

.input-container .MuiTextField-root .MuiOutlinedInput-root fieldset legend {
  visibility: visible;
  background-color: #4c6773;
  border-radius: 20px;
  margin-left: -2px;
  padding: 2px;
}

.input-container .MuiTextField-root .MuiOutlinedInput-root fieldset legend > span {
  visibility: hidden;
  font-size: .75em;
}

.input-container .MuiTextField-root .MuiOutlinedInput-root:hover fieldset, .input-container .MuiTextField-root .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #b4ccca;
}

.input-container .MuiTextField-root .MuiOutlinedInput-root.Mui-error fieldset {
  border-color: #f6a7b2 !important;
}

.input-container .MuiTextField-root .MuiInput-underline:hover:before, .input-container .MuiTextField-root .MuiInput-underline:before {
  border-bottom-color: #8fa9ac;
}

.input-container .MuiTextField-root .MuiInput-underline:hover:after, .input-container .MuiTextField-root .MuiInput-underline:after {
  border-bottom-color: #b4ccca;
}

.input-container .MuiTextField-root .MuiInput-underline input {
  font-weight: 500;
}

.input-container .MuiTextField-root :not(input) {
  color: #e0e0e0;
  font-size: 1em;
}

.input-container > .MuiTextField-root:first-of-type {
  margin-top: 0;
}

.input-container > .MuiTextField-root:first-of-type > .MuiOutlinedInput-root > fieldset {
  border-radius: 2.4rem 2.4rem 0 0;
}

.input-container > .MuiTextField-root:last-of-type > .MuiOutlinedInput-root > fieldset {
  border-radius: 0 0 2.4rem 2.4rem;
}

option {
  font-size: 1.8rem;
}

.error-container {
  width: 100%;
}

.error-container .header {
  padding-left: 1.6rem;
}

.error-container .header h3 {
  color: #f6a7b2;
  text-align: left;
  font-size: 1.8rem;
}

.error-container .error-list {
  width: 100%;
  background-color: #2f485840;
  border-radius: 2.4rem;
  flex-flow: column;
  padding-top: 1.6rem;
  display: flex;
}

.error-container .error-list .error {
  width: 100%;
  max-width: calc(100% - 3.2rem);
  color: #f6a7b2;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  padding: 0 1.6rem 1.6rem;
  font-size: 1.8rem;
  display: flex;
}

.error-container .error-list .error .msg {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.error-container .error-list .error .icon {
  color: #8fa9ac;
  cursor: pointer;
  color: #f6a7b2;
  font-size: 2.4rem;
}

.error-container .error-list .error .icon:hover, .error-container .error-list .error .icon:focus {
  color: #dcefea;
}

.button {
  z-index: 1;
  border-radius: 2.4rem;
  padding: .8rem 1.6rem;
  position: sticky;
  bottom: 0;
}

.button.propose {
  background-color: #93c99e;
}

.button.propose:disabled {
  cursor: not-allowed;
  background-color: #6c888f;
}

.button.login {
  background-color: #b4ccca;
}

.wallet {
  height: 3.2rem;
  color: #2a2a2a;
  background-color: #b4ccca;
  border-radius: 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 0 1.6rem;
  font-size: 1.8rem;
  display: flex;
}

.header-wrapper {
  width: 100%;
  height: 6.4rem;
  z-index: 2;
  background-color: #2f4858;
  flex-flow: row;
  display: flex;
  position: fixed;
  box-shadow: 1px 10px 20px #0003;
}

.header-container {
  flex-flow: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-container .title {
  cursor: pointer;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding-left: 3.2rem;
  display: flex;
}

.header-container .title h1, .header-container .title .logo {
  color: #e0e0e0;
  font-size: 2.4rem;
}

.header-container nav {
  border-radius: 2.4rem;
  outline: 1px solid #b4ccca;
  font-size: 1.8rem;
}

.header-container nav a {
  height: 3.2rem;
  padding: 0 1.6rem;
  font-size: 1.8rem;
  color: #e0e0e0 !important;
}

.header-container nav a.active {
  background-color: #b4ccca;
  border: 1px solid #b4ccca;
  color: #2a2a2a !important;
}

.header-container nav a:first-of-type {
  border-radius: 2.4rem 0 0 2.4rem;
}

.header-container nav a:last-of-type {
  border-radius: 0 2.4rem 2.4rem 0;
}

.empty-container {
  flex-shrink: 0;
  flex-basis: 52.8rem;
  transition: flex-basis .2s ease-out;
}

.empty-container.expanded-empty {
  flex-basis: calc(6.4rem + 50%);
  transition: flex-basis .2s ease-out;
}

.dao-container {
  height: calc(100% - 6.4rem);
  flex-flow: column;
  display: flex;
  position: relative;
  top: 6.4rem;
}

.dao-container .address-container {
  width: auto;
  flex-flow: row;
}

.dao-container .address-container .MuiTextField-root {
  width: calc(100% - 6.4rem);
  text-align: left;
  margin: 2rem 3.2rem;
}

.dao-container .address-container .MuiTextField-root .MuiInputBase-root {
  color: #8fa9ac;
  font-size: 2.4rem;
}

.dao-container .address-container .MuiTextField-root .MuiInputBase-root input {
  padding: 0;
}

.dao-container .address-container .MuiTextField-root .MuiInputBase-root.Mui-error {
  color: #f1798a;
}

.dao-container .address-container .MuiTextField-root fieldset {
  border: none;
}

.dao-container .address-container .MuiTextField-root p {
  display: none;
}

.dao-container:before {
  content: "";
  height: 7.6rem;
  min-width: 100%;
  background-color: #b4ccca;
  position: fixed;
  top: 6.4rem;
  left: 0;
}

.dao-container .info-container {
  width: 100%;
  height: 100%;
  justify-items: unset;
  width: calc(100% - 6.4rem);
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  gap: 3.2rem;
  margin: 0;
  padding: 3.2rem;
  display: grid;
  position: relative;
}

.dao-container .info-container.error, .dao-container .info-container.loader {
  color: #f6a7b2;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  display: flex;
}

.dao-container .info-container .info-card {
  background-color: #dcefea40;
  border-radius: 2.4rem;
  flex-flow: column;
  font-size: 1.4rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.dao-container .info-container .info-card .title {
  padding: 1.6rem 3.2rem;
  font-size: 2.4rem;
}

.dao-container .info-container .info-card .title span {
  float: right;
}

.dao-container .info-container .info-card .MuiSvgIcon-root:nth-of-type(1) {
  cursor: pointer;
  font-size: 2.4rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.dao-container .info-container .info-card .MuiSvgIcon-root:nth-of-type(2) {
  cursor: pointer;
  font-size: 2.4rem;
  position: absolute;
  top: 1.6rem;
  right: 4.8rem;
}

.dao-container .info-container .info-card .MuiSvgIcon-root:nth-of-type(3) {
  cursor: pointer;
  font-size: 2.4rem;
  position: absolute;
  top: 1.6rem;
  right: 8rem;
}

.dao-container .info-container .info-card ul {
  flex-flow: column;
  display: flex;
}

.dao-container .info-container .info-card ul li {
  margin-right: 1.6rem;
}

.dao-container .info-container .info-card ul li span {
  width: 100%;
  display: block;
  position: relative;
}

.dao-container .info-container .info-card ul li span a {
  color: #5bbbe3 !important;
}

.dao-container .info-container .info-card ul li span .MuiSvgIcon-root {
  visibility: hidden;
  cursor: pointer;
  font-size: 2.4rem;
  position: absolute;
  top: auto !important;
  bottom: auto !important;
  right: 0 !important;
}

.dao-container .info-container .info-card ul li:hover {
  background-color: #dcefea;
}

.dao-container .info-container .info-card ul li:hover span > .MuiSvgIcon-root {
  visibility: visible;
}

.dao-container .info-container .info-card.admins {
  grid-area: 1 / 1 / 9 / 3;
}

.dao-container .info-container .info-card.tokens {
  grid-area: 1 / 3 / 9 / 5;
}

.dao-container .info-container .info-card.jobs {
  grid-area: 1 / 6 / 8 / 9;
  position: relative;
}

.dao-container .info-container .info-card.jobs .scroll-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  inset: 7.2rem 0 0;
  overflow-y: scroll;
}

.dao-container .info-container .info-card.jobs .scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.dao-container .info-container .info-card.jobs .scroll-wrapper .job {
  background-color: #dcefea;
  border-radius: 2.4rem;
  margin: 0 3.2rem 3.2rem;
  position: relative;
}

.dao-container .info-container .info-card.jobs .scroll-wrapper .job pre {
  padding: 1.6rem;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
}

.dao-container .info-container .info-card.bond {
  grid-area: 8 / 6 / 9 / 9;
}

.dao-container .info-container .info-card.bond .title {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.base-task {
  background: #dcefea;
}

.base-task .name {
  color: #2a2a2a !important;
}

.base-task .name h3 {
  color: #2a2a2a;
}

.base-task .name .icon {
  fill: #2a2a2a !important;
}

.base-task * > a {
  color: #5bbbe3 !important;
}

.task-container {
  width: 100%;
  min-height: 19.2rem;
  border-radius: 2.4rem;
  flex-flow: column;
  display: flex;
  position: relative;
  overflow: hidden;
}

.task-container * {
  color: #2a2a2a;
}

.task-container .name {
  justify-content: center;
  align-items: center;
  padding-top: .8rem;
  padding-bottom: .8rem;
  font-size: 1.8rem;
  display: flex;
}

.task-container .name * {
  color: #e0e0e0;
}

.task-container .name .icon {
  color: #8fa9ac;
  fill: #e0e0e0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  font-size: 2.4rem;
  transition: opacity .1s;
}

.task-container .name .icon:hover, .task-container .name .icon:focus {
  color: #4c6773;
}

.task-container .name .icon.edit {
  position: absolute;
  right: 1.6rem;
}

.task-container .name .icon.edit:hover + .edit-pseudo {
  zoom: 1;
  transform-origin: 0 0;
  transition: all .3s;
  transform: scale(1);
}

.task-container .name .icon.delete {
  position: absolute;
  left: 1.6rem;
}

.task-container .name .icon.delete:hover + .delete-pseudo {
  zoom: 1;
  transform-origin: 0 0;
  transition: all .3s;
  transform: scale(1);
}

.task-container .name .icon.duplicate {
  position: absolute;
  left: 4.8rem;
}

.task-container .name .icon.duplicate:hover + .duplicate-pseudo {
  zoom: 1;
  transform-origin: 0 0;
  transition: all .3s;
  transform: scale(1);
}

.task-container .name .delete-pseudo {
  zoom: 0;
  transform-origin: 0 0;
  width: 12.8rem;
  height: 12.8rem;
  z-index: 0;
  background-color: #f6a7b2cc;
  border-radius: 100%;
  position: absolute;
  top: -6.4rem;
  left: -3.2rem;
  transform: scale(0);
}

.task-container .name .edit-pseudo {
  zoom: 0;
  transform-origin: 0 0;
  width: 12.8rem;
  height: 12.8rem;
  z-index: 0;
  background-color: #b2dff2cc;
  border-radius: 100%;
  position: absolute;
  top: -6.4rem;
  right: -3.2rem;
  transform: scale(0);
}

.task-container .name .duplicate-pseudo {
  zoom: 0;
  transform-origin: 0 0;
  width: 12.8rem;
  height: 12.8rem;
  z-index: 0;
  background-color: #d8bedacc;
  border-radius: 100%;
  position: absolute;
  top: -6.4rem;
  left: 0;
  transform: scale(0);
}

.task-container:hover > .name > .icon {
  opacity: 1;
  transition: opacity .1s;
}

.task-container .data-container {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  max-height: 100%;
  z-index: 1;
  background-color: #b4ccca80;
  flex: 1;
  padding: 1.6rem 1.6rem 3.2rem;
  overflow-y: scroll;
}

.task-container .data-container::-webkit-scrollbar {
  display: none;
}

.task-container .data-container pre.code {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #dcefea;
  border-radius: 1.2rem;
  margin: .5rem;
  padding: .5rem;
  font-family: Roboto Mono, monospace;
  font-size: 1.2rem;
  overflow-x: scroll;
}

.task-container .data-container pre.code::-webkit-scrollbar {
  display: none;
}

.task-container .data-container p {
  width: 100%;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: -.3rem;
  font-size: 1.4rem;
  display: flex;
}

.task-container .data-container p span {
  white-space: nowrap;
}

.task-container .data-container p .code {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 1.5rem;
  font-family: Roboto Mono, monospace;
  font-size: 1.2rem;
  line-height: 1.85rem;
  overflow: hidden;
}

.task-container .data-container p.expandable {
  flex-wrap: wrap;
}

.edit {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: scroll;
}

.edit::-webkit-scrollbar {
  display: none;
}

.edit .unitInput {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.edit .unitInput .MuiTextField-root:first-of-type {
  flex: 2 auto;
}

.edit .unitInput .MuiTextField-root:last-of-type {
  flex: 1 0 40px;
  margin-left: .8rem;
}

.edit .unitInput .MuiTextField-root:last-of-type select {
  height: 2rem;
  font-size: 1.4rem;
  line-height: 1rem;
}

.edit .unitInput:last-of-type .MuiTextField-root:first-of-type fieldset {
  border-radius: 0 0 0 2.4rem;
}

.edit .unitInput:last-of-type .MuiTextField-root:last-of-type fieldset {
  border-radius: 0 0 2.4rem;
}

.edit .checkbox {
  width: 100%;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.edit .checkbox p {
  color: #e0e0e0;
  font-size: 1.4rem;
}

.edit .checkbox .MuiCheckbox-root {
  color: #b4ccca;
}

.edit .checkbox .MuiCheckbox-root.Mui-checked {
  color: #93c99e;
}

.edit .checkbox .MuiCheckbox-root .MuiSvgIcon-root, .edit .MuiTextField-root {
  font-size: 1.8rem;
}

.edit .MuiTextField-root p.Mui-error {
  color: #f6a7b2;
  font-family: Titillium Web, sans-serif;
  font-size: 1.4rem;
}

.edit .MuiTextField-root p.Mui-error:before {
  content: "Error: ";
}

.edit .MuiTextField-root label {
  font-family: Titillium Web, sans-serif;
}

.edit .MuiTextField-root label.Mui-focused {
  color: #e0e0e0;
}

.edit .MuiTextField-root label.Mui-error {
  color: #f6a7b2;
}

.edit .MuiTextField-root .MuiOutlinedInput-root input, .edit .MuiTextField-root .MuiOutlinedInput-root textarea {
  color: #edfdf9;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
}

.edit .MuiTextField-root .MuiOutlinedInput-root textarea {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: pre;
  overflow-x: scroll !important;
}

.edit .MuiTextField-root .MuiOutlinedInput-root textarea::-webkit-scrollbar {
  display: none;
}

.edit .MuiTextField-root .MuiOutlinedInput-root fieldset {
  background-color: #2f485840;
  border-width: 1px;
  border-color: #8fa9ac;
  border-radius: 0;
}

.edit .MuiTextField-root .MuiOutlinedInput-root fieldset legend {
  visibility: visible;
  background-color: #4c6773;
  border-radius: 20px;
  margin-left: -2px;
  padding: 2px;
}

.edit .MuiTextField-root .MuiOutlinedInput-root fieldset legend > span {
  visibility: hidden;
  font-size: .75em;
}

.edit .MuiTextField-root .MuiOutlinedInput-root:hover fieldset, .edit .MuiTextField-root .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #b4ccca;
}

.edit .MuiTextField-root .MuiOutlinedInput-root.Mui-error fieldset {
  border-color: #f6a7b2 !important;
}

.edit .MuiTextField-root .MuiInput-underline:hover:before, .edit .MuiTextField-root .MuiInput-underline:before {
  border-bottom-color: #8fa9ac;
}

.edit .MuiTextField-root .MuiInput-underline:hover:after, .edit .MuiTextField-root .MuiInput-underline:after {
  border-bottom-color: #b4ccca;
}

.edit .MuiTextField-root .MuiInput-underline input {
  font-weight: 500;
}

.edit .MuiTextField-root :not(input) {
  color: #e0e0e0;
  font-size: 1em;
}

.edit > .MuiTextField-root:first-of-type {
  margin-top: 0;
}

.edit > .MuiTextField-root:nth-of-type(2) > .MuiOutlinedInput-root > fieldset {
  border-radius: 2.4rem 2.4rem 0 0;
}

.edit > .MuiTextField-root:last-of-type > .MuiOutlinedInput-root > fieldset {
  border-radius: 0 0 2.4rem 2.4rem;
}

option {
  font-size: 1.8rem;
}

.ref-withdraw-task, .ref-swap-task {
  background: linear-gradient(to top, #00c08b, #009289, #006474, #00384e, #001220);
}

.multicall-transfer-task {
  background: #2f4858;
}

.near-transfer-task {
  background: #dcefea;
}

.near-transfer-task .name {
  color: #2a2a2a !important;
}

.near-transfer-task .name h3 {
  color: #2a2a2a;
}

.near-transfer-task .name .icon {
  fill: #2a2a2a;
}

.near-transfer-task * > a {
  color: #5bbbe3 !important;
}

/*# sourceMappingURL=index.12554786.css.map */
