$mintbase-blue: #070c2b;
$mintbase-red: #ff2424;

.mintbase-create-store-task,
.mintbase-transfer-store-ownership-task,
.mintbase-add-minter-task,
.mintbase-remove-minter-task {
    background-color: $mintbase-blue;
    background-image: url("../../app/static/mintbase/Mintbase_symbol.svg");
    background-position-x: 42rem;
    background-position-y: 239rem;
    background-size: 77rem;
}
