@use "sass/color";

.mintbase-create-store-task {
    background-image: url("../../app/static/mintbase.png");
    background-position-x: 60rem;
    background-position-y: 60rem;
    background-size: 80rem;
}
