@use 'sass/color';
@use 'sass/size';
@use 'sass/mixin';
@use 'sass/animation';

.menu-container {
    position: fixed;
    top: size.$gap;
    right: size.$gap;
    width: size.$menu-width;
    height: calc(100% - 2 * size.$gap);
    min-width: calc(size.$task-width + 2 * size.$gap);
    background-color: color.$dark;
    box-shadow: 1px 10px 20px 0 rgba(0,0,0,0.2);
    border-radius: size.$task-radius;
    z-index: 2;
    transition: width animation.$menu-expand-time ease-out;
    .menu-column-wrapper {
        @include mixin.center-items;
        height: 100%;
        padding: 0 size.$gap;
        & > div {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
        }
    }
    .tabs {
        height: 100%;
        .tab-list {
            @include mixin.center-items(space-between);
            background-color: rgba(color.$darkest, 0.25);
            border-radius: size.$task-radius;
            margin: size.$gap;
            padding: 0;
            width: calc(100% - 2 * size.$gap);
            height: size.$tab-list-height;
            button {
                padding: 0;
                width: 30%;
                font-size: size.$text;
                color: color.$light-text;
                background-color: transparent;
                border-radius: size.$task-radius;
                &:focus,
                &:hover {
                    background-color: rgba(color.$darkest, 0.25);
                }
            }
        }
        .tab-panel {
            height: calc(100% - size.$tab-list-height - 2 * size.$gap);
        }
    }
}

.toggle-size {
    position: absolute;
    left: calc(-0.5 * (size.$large-text + size.$gap));
    top: calc(50% - 0.5 * size.$large-text);
    width: calc(size.$large-text + size.$gap);
    transition: transform animation.$menu-expand-time linear;
    .icon {
        scale: 1.2;
    }
    &.expand {
        transform: scaleX(1);
        .icon {
            @include mixin.icon;
            font-size: size.$large-text;
        }
    }
    &.collapse {
        transform: scaleX(-1);
        .icon {
            @include mixin.light-icon;
            font-size: size.$large-text;
        }
    }
}

.expanded-menu {
    width: animation.$menu-expand-width;
    transition: width animation.$menu-expand-time ease-out;
}

.selector {
    flex: 1;
    @include mixin.no-scrollbar;
    z-index: 2;
    width: size.$task-width;
    max-height: calc(100% - 3 * #{size.$gap} - #{size.$task-height});
    overflow-y: scroll;
    border-radius: size.$task-radius;
    .column-container {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        background-color: rgba(color.$darkest, 0.25);
        .tasks-wrapper {
            flex: 1 1 0;
            .task-wrapper:last-of-type {
                margin-bottom: 0 !important;
            }
        }
    }
}

.trash {
    flex: 1;
    z-index: 2;
    width: 100%;
    height: size.$task-height;
    .column-container {
        justify-content: center;
        width: 100%;
        padding: 0 !important;
        margin-right: 0 !important;
        background-color: rgba(color.$darkest, 0.25);
        .tasks-wrapper {
            flex: 0 0 size.$task-height;
        }
        .icon {
            position: absolute;
            color: color.$light-text;
            font-size: size.$huge-text;
        }
    }
}