@use "sass/color";
@use "sass/font";
@use "sass/mixin";
@use "sass/size";

.funds-tab {
    display: grid;
    grid-template: "balances" 1fr / 1fr;

    .balances {
        grid-area: balances;
        padding-bottom: size.$gap;
    }
}
