@use "sass/color";
@use "sass/font";
@use "sass/mixin";
@use "sass/size";

.multicall-tab {
    display: grid;

    grid-template:
        "admins jobs" 6fr
        "token-whitelist jobs" 5fr
        "token-whitelist job-bond" 1fr / 1fr 1fr;

    .admins {
        grid-area: admins;
    }

    .token-whitelist {
        grid-area: token-whitelist;
    }

    .jobs {
        grid-area: jobs;
        position: relative;

        .scroll-wrapper {
            @include mixin.no-scrollbar;
            overflow-y: scroll;
            position: absolute;
            top: calc(size.$large-text + 1.5 * size.$gap);
            bottom: 0;
            left: 0;
            right: 0;

            .job {
                position: relative;
                margin: size.$gap;
                margin-top: 0;
                border-radius: size.$task-radius;
                background-color: color.$lightest;

                pre {
                    padding: 0.5 * size.$gap;
                    font-family: font.$code;
                    font-size: size.$small-text;
                }
            }
        }
    }

    .job-bond {
        grid-area: job-bond;

        .title {
            @include mixin.center-items(space-between, center);
            height: 100%;
        }
    }
}
