@use "sass/color";
@use "sass/size";

.DataInspector {
    &-label {
        color: darken(color.$blue, 30%);

        & > span {
            cursor: pointer;
        }
    }

    &-body {
        border-radius: size.$task-radius;
        padding: calc(size.$gap / 2);
        background-color: color.$lightest;

        & * {
            font-size: size.$text;
        }
    }
}
