@use "sass/color";
@use "sass/size";

.Job {
    &-dataInspector {
        &-label {
            width: fit-content;
            margin-left: auto;
        }
    }

    &-action {
        margin-top: 0.5 * size.$gap;
        padding: 0 1em;
        border-radius: size.$task-radius;
        border: 2px solid color.$blue;
        font-size: size.$text;
        font-weight: 800;
        color: darken(color.$blue, 30%) !important;
        background-color: rgba(color.$blue, 0.2);
        float: right;
        &:hover {
            background-color: color.$blue;
        }
    }
}
