@use "sass/color";
@use "sass/size";

.JobsList {
    &-body {
        .Table-row-content--compact:last-of-type {
            align-items: flex-start;

            & > span {
                &:first-of-type {
                    position: absolute;
                }

                &:last-of-type {
                    width: 100%;
                }
            }
        }
    }
}
