@use 'sass/color';
@use 'sass/size';
@use 'sass/font';
@use 'sass/mixin';

.batch-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 0.5 * size.$gap);
    padding: 0;
    min-height: size.$task-height;
    border: 0.25 * size.$gap dotted color.$dark;
    border-radius: 2 * size.$task-radius;
    background-color: transparent;
    .tasks-wrapper {
        width: 100%;
        background-color: transparent;
        box-shadow: none !important;
        .task-wrapper {
            width: calc(size.$task-width - size.$gap) !important;
            &:first-of-type {
                margin-top: 0.5 * size.$gap;
            }
        }
    }
    & > .name {
        margin: 0 auto;
        padding: 0 0.5 * size.$gap;
        font-size: size.$large-text;
        font-weight: 800;
        color: color.$dark;
        background-color: transparent;
    }
}