@use "sass/size";
@use "sass/color";

.Tile {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border-radius: size.$task-radius;
    padding: size.$gap;
    background-color: color.$lightest;
    font-size: size.$small-text;

    &-heading {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: size.$gap;
        padding-bottom: calc(size.$gap * 1);

        &-text,
        svg {
            font-size: size.$large-text;
        }

        &-slot {
            &--left,
            &--right {
                .MuiButtonBase-root {
                    padding: 4px;
                }
            }

            &--right {
                margin-left: auto;
            }
        }
    }

    &-content {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        width: auto;
        height: 100%;
        overflow: hidden;
    }
}
