@use "sass/mixin";
@use "sass/size";

.token-label {
    display: flex;
    align-items: center;
    gap: size.$gap;

    .icon,
    .icon svg {
        width: 1.5 * size.$gap;
        height: 1.5 * size.$gap;
    }

    .symbol {
        font-weight: bold;
    }
}
