@use "sass/mixin";
@use "sass/size";

.scroll-wrapper {
    @include mixin.no-scrollbar;
    overflow-y: scroll;
    position: absolute;
    top: calc(size.$large-text + 1.5 * size.$gap);
    bottom: 0;
    left: 0;
    right: 0;
}
