@use "sass/mixin";

.token-label {
    display: flex;
    align-items: center;
    gap: 14px;

    .icon,
    .icon svg {
        width: 32px;
        height: 32px;
    }

    .symbol {
        font-weight: bold;
    }
}
