@use "sass/size";
@use "sass/mixin";

.modal-dialog .MuiPaper-root {
    min-width: size.$task-width;
}

.dapp-login-steps {
    padding: 0 size.$gap;
    list-style-type: decimal;
    font-size: size.$text;

    .item {
        .content {
            @include mixin.center-items(flex-start, center);
            flex-flow: row nowrap;
            gap: 0.5ch;
            padding-left: 0.25 * size.$gap;

            .icon {
                @include mixin.light-icon;
            }
        }

        &::marker {
            font-weight: 800;
        }
    }
}
