@use "sass/color";
@use "sass/font";
@use "sass/size";

.DaoJobsTab {
    display: grid;
    grid-template: "jobsList jobInfo" auto / 50%;

    &-jobInfo {
        grid-area: jobInfo;
        padding-bottom: size.$gap;
        position: relative;
        overflow: hidden;
    }

    &-jobsList {
        grid-area: jobsList;
        padding-bottom: size.$gap;
        position: relative;
        overflow: hidden;
    }
}
