@use "sass/color";
@use "sass/font";
@use "sass/size";

.DaoJobsTab {
    display: grid;
    grid-template: "jobsList " auto / 100%;

    &-jobsList {
        grid-area: jobsList;
        position: relative;
        overflow: hidden;
    }
}
