@use "sass/color";
@use "sass/font";
@use "sass/size";

.DaoJobsTab {
    display: grid;

    grid-template: "JobsList" auto;

    .JobsList {
        grid-area: JobsList;
        position: relative;

        &-item {
            position: relative;
            margin: size.$gap;
            margin-top: 0;
            border-radius: size.$task-radius;
            background-color: color.$lightest;

            pre {
                padding: 0.5 * size.$gap;
                font-family: font.$code;
                font-size: size.$small-text;
                overflow: hidden;
            }
        }
    }
}
