@use "sass/color";
@use "sass/size";

.Link {
    line-height: 1;
    color: darken(color.$blue, 30%);
    text-decoration: none;
    cursor: pointer;

    &-tooltip {
        background-color: color.$darkest;

        &.MuiTooltip-tooltip {
            margin-left: size.$text !important;
            background-color: color.$darkest;
        }

        &-arrow,
        &-arrow.MuiTooltip-arrow {
            color: color.$darkest;
        }

        &-button,
        &-button.MuiButtonBase-root {
            font-size: size.$small-text;
            color: color.$white;
        }
    }
}
