@use 'sass/base';
@use 'sass/mixin';
@use 'sass/size';
@use 'sass/color';
@use 'sass/font';

.board {
    @include mixin.popup;
    .form {
        width: 100%;
        @include mixin.center-items(center, stretch);
        flex-flow: column;
        gap: size.$gap;
        max-width: 70rem;
        .input-container {
            display: flex;
            padding: 0 size.$gap;
            gap: size.$gap;
            span {
                font-family: font.$text;
                &.name {
                    width: 9rem;
                    text-align: right;
                }
                &.unit {
                    width: 2rem;
                    margin-left: -0.5 * size.$gap;
                }
            }
            input, textarea {
                flex: 1;
            }
            &.indent-children {
                display: flex;
                flex-flow: column nowrap;
                & > div {
                    padding-right: 0;
                }
            }
        }
    }
    .button-container > button {
        position: relative;
        margin-left: size.$gap;
        &:first-of-type {
            background-color: color.$green;
        }
        &:last-of-type {
            background-color:  color.$red;
        }
    }
}