@use 'sass/size';
@use 'sass/color';

.pot {
    position: relative;
    height: max-content;
    &:not(:first-of-type)::before {
        content: '';
        position: absolute;
        top: calc(2 * size.$gap + 0.5 * size.$ingredient-height - 0.5 * size.$stroke);
        right: calc(size.$gap + 0.5 * size.$ingredient-width);
        height: size.$stroke;
        width: calc(2 * size.$gap + size.$ingredient-width + 0.5 * size.$stroke);
        border-radius: 0.5 * size.$stroke;
        background-color: color.$dark;
    }
    &:last-of-type::before {
        background-color: color.$dark20solid;
    }
}