@use "sass/size";
@use "sass/color";

.Tile {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    border-radius: size.$task-radius;
    padding: size.$gap * 0.6;
    background-color: color.$lightest;
    font-size: size.$small-text;

    &-heading {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: size.$gap;
        padding: size.$gap * 0.2 size.$gap * 0.2 size.$gap * 0.8;

        &-text,
        svg {
            font-size: size.$large-text;
        }

        &-corner {
            &--start,
            &--end {
                .MuiButtonBase-root {
                    padding: 4px;
                }
            }

            &--end {
                margin-left: auto;
            }
        }
    }

    &-content {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        width: auto;
        height: 100%;
        overflow: hidden;
    }

    &-footer {
        display: flex;
        justify-content: center;
        margin-top: auto;
    }
}
