@use 'sass/mixin';
@use 'sass/color';
@use 'sass/size';
@use 'sass/animation';

.header-wrapper {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 2 * size.$gap;
    background-color: color.$darkest;
    box-shadow: 1px 10px 20px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

.header-container {
    flex: 1;
    @include mixin.center-items(space-between);
    flex-flow: row nowrap;
    .title {
        @include mixin.center-items;
        flex-flow: row nowrap;
        gap: 0.5 * size.$gap;
        padding-left: size.$gap;
        cursor: pointer;
        h1 {
            color: color.$light-text;
            font-size: size.$large-text;
        }
        .logo {
            color: color.$light-text;
            font-size: size.$large-text;
        }
    }
    nav {
        font-size: size.$text;
        border-radius: size.$task-radius;
        outline: 1px solid color.$light;
        a {
            height: size.$gap;
            padding: 0 0.5 * size.$gap;
            font-size: size.$text;
            color: color.$light-text !important;
            &.active {
                color: color.$text !important;
                background-color: color.$light;
                border: 1px solid color.$light;
            }
            &:first-of-type {
                border-radius: size.$task-radius 0 0 size.$task-radius;
            }
            &:last-of-type {
                border-radius: 0 size.$task-radius size.$task-radius 0;
            }
        }
    }
}

.empty-container {
    flex-shrink: 0;
    flex-basis: calc(4 * size.$gap + size.$task-width);
    transition: flex-basis animation.$menu-expand-time ease-out;
    &.expanded-empty {
        flex-basis: calc(2 * size.$gap + animation.$menu-expand-width);
        transition: flex-basis animation.$menu-expand-time ease-out;
    }
}

.space-right {
    width: size.$gap;
}