@use 'sass/size';
@use 'sass/color';
@use 'sass/font';
@use 'sass/mixin';

.ingredient {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    z-index: 1;
    width: calc(size.$ingredient-width);
    height: calc(size.$ingredient-height);
    border-radius: size.$ingredient-radius;
    background: color.$green;
    box-shadow: 1px 10px 20px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    * {
        color: color.$text;
        font-family: font.$text;
    }
    .name {
        @include mixin.center-items;
        flex-flow: row nowrap;
        gap: 0.25 * size.$gap;
        padding-top: 0.5 * size.$gap;
        padding-bottom: 0.5em;
        &, * {
            color: color.$light-text;
        }
    }
    .data-container {
        @include mixin.no-scrollbar;
        flex: 1;
        max-height: 100%;
        overflow-y: scroll;
        padding: 0.5 * size.$gap;
        padding-bottom: size.$gap;
        background-color: color.$light50;
        p, p > p {
            display: flex;
            width: 100%;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-bottom: -0.3em;
            font-size: size.$small-text;
            p {
                padding-left: 1em;
                &:last-of-type {
                    margin-bottom: 0.3em;
                }
            }
            span {
                white-space: nowrap;
            }
            .code {
                @include mixin.no-wrap;
                padding-left: 1.5em;
                line-height: 1.85em;
                font-family: font.$code;
                font-size: size.$smaller-text;
            }
            &.expandable {
                flex-wrap: wrap;
            }
        }
    }
}

.ingredient-pseudo {
    position: relative;
    margin: 2 * size.$gap size.$gap;
    &:not(:first-of-type)::before {
        content: '';
        bottom: calc(0.5 * size.$ingredient-height);
        left: calc(0.5 * size.$ingredient-width - 0.5 * size.$stroke);
        height: calc(2 * size.$gap + size.$ingredient-height);
        width: size.$stroke;
        border-radius: 0.5 * size.$stroke;
        background-color: color.$dark;
    
        position: absolute;
        z-index: 0;
    }
    &:last-of-type::before {
        background-color: color.$dark20solid;
    }
}

.add-ingredient {
    @include mixin.center-items;
    background: color.$dark20solid;
    box-shadow: none;
    font-size: 4 * size.$unit;
    color: color.$text;
    font-family: font.$code;
}