@use "sass/size";
@use "sass/color";

.Task {
    width: size.$task-width;
    min-height: size.$task-height;
    border-radius: size.$task-radius;
    margin-bottom: size.$gap;
    overflow: hidden;
}
