@use 'sass/color';
@use 'sass/mixin';
@use 'sass/size';

.near-transfer-task, 
.near-storage-deposit-task {
    background: color.$lightest;
    .name {
        color: color.$text !important;
        h3 {
            color: color.$text;
        }
        .icon {
            fill: color.$text;
        } 
    }
    * > a {
        color: darken(color.$blue, 20%) !important;
    }
}

.edit {
    .info {
        font-size: size.$large-text;
        vertical-align: sub;
    }
    p {
        color: color.$light-text;
        font-size: size.$text
    }
    h2 {
        align-self: flex-start;
        @include mixin.center-items(flex-start);
        position: relative;
        width: 100%;
        margin-bottom: 0.5 * size.$gap;
        .icon {
            @include mixin.light-icon;
            cursor: pointer;
        }
        .collapse {
            &[collapsed="yes"] {
                transform: rotate(-90deg);
            }
            transition: all 50ms linear;
        }
    }
}

.MuiInputAdornment-root {
    width: fit-content;
    p {
        display: block !important;
        font-size: size.$small-text !important;
        color: color.$lightish;
    }
}