@use "sass/color";
@use "sass/mixin";
@use "sass/size";

.near-ft-transfer-task {
    background: color.$lightest;
    .name {
        color: color.$text !important;
        h3 {
            color: color.$text;
        }
        .icon {
            fill: color.$text;
        }
    }
    * > a {
        color: darken(color.$blue, 20%) !important;
    }
}

.MuiInputAdornment-root {
    width: fit-content;
    p {
        display: block !important;
        font-size: size.$small-text !important;
        color: color.$lightish;
    }
}
