@use "sass/mixin";
@use "sass/size";
@use "sass/color";

.Tabs-item-button {
    height: 100%;
    padding: 0 size.$gap;
    font-size: size.$text;
    background-color: color.$lightest;
    color: color.$text;

    &.is-active,
    &:hover,
    &:focus {
        background-color: color.$darkest;
        color: color.$light-text;
        transition: all 400ms ease;
        transition-property: background-color, color;
    }

    &--invertedColors {
        background-color: transparent;
        color: color.$light-text;

        &.is-active {
            color: color.$text;
        }

        &.is-active,
        &.is-active:hover {
            background-color: color.$white;
        }

        &:hover {
            background-color: rgba(color.$white, 0.1);
        }
    }
}

.Tabs-item-panel {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &.is-active {
        @include mixin.center-items;
    }
}
