@use 'sass/size';
@use 'sass/color';
@use 'sass/font';

.dialog {
    .title {
        font-size: size.$large-text;
    }
    .MuiPaper-root {
        background-color: color.$black;
        color: color.$light-text;
        border-radius: size.$task-radius;
        font-size: size.$text;
    }
    .content {
        .MuiTextField-root {
            width: 100%;
        }
        p.Mui-error {
            color: color.$red;
            font-weight: 800;
            font-family: font.$text;
            font-size: size.$small-text;
            &::before {
                content: 'Error: '
            }
        }
    }
    .action {
        button {
            font-size: size.$text;
            border-radius: size.$task-radius;
            padding: 0.25 * size.$gap size.$gap;
            &.cancel {
                background-color: color.$red;
            }
            &.done {
                background-color: color.$green;
            }
            &.disabled {
                background-color: color.$darkish;
                cursor: not-allowed;
            }
        }
    }
}