@use "sass/color";
@use "sass/size";

.Placeholder-content {
    padding: size.$gap;
    text-align: center;
    font-size: calc(size.$large-text * 1.5);

    &--unknownError {
        color: darken(color.$red, 20);
    }

    &--noData {
        color: color.$darkish;
    }
}
