@use "sass/mixin";
@use "sass/size";

.MulticallConfigEditor-proposalSummary {
    grid-area: MCEProposalSummary;
    gap: size.$gap * 0.6;

    &-hint {
        @include mixin.center-items();
        text-align: center;
        font-size: size.$large-text;
    }

    &-changes {
        display: none;
        padding: size.$gap * 0.6;
    }

    &-submit {
        display: none;
        justify-content: end;
    }

    &-changes,
    &-submit {
        gap: inherit;
    }

    &-hint,
    &-submit {
        flex-flow: inherit;
        height: inherit;
    }

    &.is-inEditMode &-hint {
        display: none;
    }

    &.is-inEditMode &-changes {
        display: inherit;
    }

    &.is-inEditMode &-submit {
        display: inherit;
    }
}
