.DaoConfigTab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        "MIEntityConfigEditor MIEntityConfigEditor"
        "MIEntityConfigEditor MIEntityConfigEditor";
}
