@use "sass/color";
@use "sass/font";
@use "sass/mixin";
@use "sass/size";

.DaoConfigTab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 4fr;
    gap: 0px 0px;

    grid-template-areas:
        "admins tokensWhitelist"
        "jobsSettings proposalForm";

    &-proposalForm {
        grid-area: proposalForm;

        &:not(.is-inEditMode) {
            @include mixin.center-items(space-evenly, center);
        }
    }

    &-admins {
        grid-area: admins;
    }

    &-jobsSettings {
        grid-area: jobsSettings;
    }

    &-tokensWhitelist {
        grid-area: tokensWhitelist;
    }
}
