@use "sass/color";
@use "sass/size";
@use "sass/font";

.TableRow {
    overflow: hidden;
    position: relative;
    white-space: pre;
    background: transparent;

    & .MuiTableCell-root {
        font-size: size.$text;
        font-family: font.$code;
        border: none;
        text-align: right;

        &:first-of-type {
            text-align: left;
            font-family: font.$text;
        }
    }

    &:hover {
        background-color: color.$lightest;
    }

    &--compact {
        display: flex;
        flex-direction: column;
        gap: calc(size.$gap / 2);
        border-radius: size.$task-radius;
        padding: calc(size.$gap / 2);
        background-color: color.$white;

        &--dense {
            padding: calc(size.$gap / 2.2);
        }
    }

    &--highlighted {
        &--blue {
            background-color: color.$blue;
        }

        &--green {
            background-color: color.$green;
        }

        &--red {
            background-color: color.$red;
        }

        &--yellow {
            background-color: color.$yellow;
        }
    }

    &-content {
        &--compact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: size.$gap;
            font-size: size.$small-text;

            &:last-of-type {
                border-bottom-left-radius: 0.8 * size.$task-radius;
                border-bottom-right-radius: 0.8 * size.$task-radius;
            }

            &:not(&--dense) {
                &:first-of-type {
                    padding: calc(size.$gap / 2);
                }
            }

            &:not(&--entitled) {
                padding: 0.5 * size.$gap size.$gap;
                background-color: rgba(color.$lightest, 0.7);

                :first-of-type {
                    border-top-left-radius: 0.8 * size.$task-radius;
                    border-top-right-radius: 0.8 * size.$task-radius;
                }

                & > span {
                    &:first-of-type {
                        text-align: start;
                    }
                }
            }

            .MuiFormControl-root {
                margin-top: 0;
                margin-bottom: 0;
            }

            & > span {
                &:first-of-type {
                    flex: 1;
                    font-weight: 800;
                }

                &:not(:first-of-type) {
                    flex: auto;
                    text-align: center;

                    .MuiInputBase-root input {
                        text-align: center;
                    }
                }

                &:last-of-type {
                    text-align: end;

                    .MuiInputBase-root input {
                        text-align: end;
                    }
                }
            }

            &--entitled {
                &:first-of-type {
                    & > span {
                        &:first-of-type {
                            display: none;
                        }

                        &:last-of-type {
                            font-size: size.$text;
                        }
                    }
                }

                &:not(:first-of-type) {
                    padding: 0.5 * size.$gap size.$gap;
                    background-color: rgba(color.$lightest, 0.7);

                    & > span {
                        &:last-of-type {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }

                &:nth-of-type(2) {
                    border-top-left-radius: 0.8 * size.$task-radius;
                    border-top-right-radius: 0.8 * size.$task-radius;
                }

                &--centeredTitle {
                    &:first-of-type {
                        & > span:not(:first-of-type) {
                            text-align: center;
                        }
                    }
                }
            }

            &--dense.TableRow-content--compact--entitled {
                &:not(:first-of-type) {
                    padding: calc(size.$gap / 2.2) calc(size.$gap / 2);
                }
            }

            &--noKeys {
                & > span {
                    &:first-of-type {
                        display: none;
                    }

                    &:not(:first-of-type) {
                        display: flex;
                        justify-content: center;
                        text-align: center;

                        .MuiInputBase-root input {
                            text-align: center;
                        }
                    }
                }
            }
        }

        &--compact &-checkbox {
            display: flex;

            .MuiCheckbox-root {
                padding: calc(size.$text / 4);
            }
        }

        &--compact &-slot {
            display: flex;
            align-items: center;

            &--start {
                justify-content: start;
            }

            &--end {
                justify-content: end;
            }

            > * {
                position: absolute;
            }
        }
    }
}
