@use "sass/color";
@use "sass/size";
@use "sass/font";

.Table-row {
    overflow: hidden;
    position: relative;
    white-space: pre;
    background: transparent;

    & .MuiTableCell-root {
        font-size: size.$text;
        font-family: font.$code;
        border: none;
        text-align: right;

        &:first-of-type {
            text-align: left;
            font-family: font.$text;
            padding-left: calc(1.25 * size.$gap);
        }

        &:last-of-type {
            padding-right: calc(1.25 * size.$gap);
        }
    }

    &:hover {
        background-color: color.$lightest;
    }

    &--compact {
        display: flex;
        flex-direction: column;
        gap: calc(0.5 * size.$gap);
        border-radius: size.$task-radius;
        padding: size.$gap;
        background-color: color.$light;
    }

    &-content {
        &--compact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: calc(1.1 * size.$text);

            span:first-of-type {
                font-weight: 800;
            }

            &:first-of-type {
                margin-bottom: calc(0.5 * size.$gap);

                & > span {
                    &:first-of-type {
                        display: none;
                    }

                    &:last-child {
                        font-size: size.$large-text;
                    }
                }
            }
        }
    }
}
