@use "sass/color";
@use "sass/font";
@use "sass/size";

.Table {
    display: table;
    border-radius: size.$task-radius;
    font-family: font.$text;
    margin-top: size.$gap;

    & .MuiTableCell-root {
        border-bottom: none;
        padding: 0.5 * size.$gap;
    }

    & table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
    }

    &-head {
        overflow: hidden;
        font-family: font.$text;

        & .MuiTableCell-root {
            border-bottom: none;
            font-size: size.$text;
            font-weight: 800;
            color: color.$text;
            text-align: right;

            &:first-of-type {
                text-align: left;
                padding-left: 1.25 * size.$gap;
            }

            &:last-of-type {
                padding-right: 1.25 * size.$gap;
            }
        }
    }

    &-column {
        display: grid;
        gap: 1.6ch;
    }
}
