@use 'sass/color';
@use 'sass/size';
@use 'sass/font';

// displays
// alignment
// sizes
// colors
// fonts

* {
    margin: 0;
}

body, html, #root {
    width: 100%;
    height: 100%;
    background-color: color.$dark;
}

.header {
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 size.$unit;
    height: 3 * size.$unit;
    background: transparent;
    color: color.$text;
    font-family: font.$text;
    font-size: size.$large-text;
}

.recipe {
    display: flex;
    padding: size.$gap;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2 * size.$gap);
    height: calc(100% - 3 * size.$unit - 2 * size.$gap);
}

.stove {
    display: flex;
    flex-flow: row nowrap;
}

.ingredient {
    position: relative;
    margin: 2 * size.$gap size.$gap;
    width: 300px;
    height: 200px;

    // Neumorphism.io
    border-radius: 48px;
    background: #1f2933;
    box-shadow: 10px 10px 21px #192129,
                -10px -10px 21px #25313d;
}

.ingredient::before {
    content: '+';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 48px;
    background: #1f2933;

    box-shadow: inset 10px 10px 21px #192129,
                inset -10px -10px 21px #25313d;
    opacity: 0;
    transition: opacity 200ms;

    font-size: 4 * size.$unit;
    color: color.$text;
    font-family: font.$code;
}

.ingredient:hover::before {
    opacity: 1;
}