@use 'sass/color';
@use 'sass/size';
@use 'sass/font';
@use 'sass/mixin';

// displays
// alignment
// sizes
// colors
// fonts

* {
    margin: 0;
    font-family: font.$text;
    // outline: 1px solid aqua;
    // background-color: rgba(aqua, 0.1);
}

body, html, #root {
    width: 100%;
    height: 100%;
    background-color: color.$white;
}

a {
    color: color.$blue !important;
    cursor: pointer;
}

button {    
    padding: 0.5 * size.$gap 2 * size.$gap;
    background-color: color.$light;
    border: none;
    color: color.$text;
    font-family: font.$text;
    font-size: size.$large-text;
    cursor: pointer;
}