@use 'sass/color';
@use 'sass/size';
@use 'sass/font';
@use 'sass/mixin';

// displays
// alignment
// sizes
// colors
// fonts

* {
    margin: 0;
    font-family: font.$text;
    // outline: 1px solid aqua;
    // background-color: rgba(aqua, 0.1);
}

body, html, #root {
    width: 100%;
    height: 100vh;
    background-color: color.$white;
    font-size: clamp(1.8mm, 0.6vw, 2.5mm);
}

body {
    // wallet selector style override
    --wallet-selector-content-bg: #{color.$black};
}

a {
    color: color.$blue !important;
    text-decoration: none;
    cursor: pointer;
}

button {    
    padding: 0.5 * size.$gap 2 * size.$gap;
    background-color: color.$light;
    border: none;
    color: color.$text;
    font-family: font.$text;
    font-size: size.$large-text;
    cursor: pointer;
}