@use "sass/mixin";
@use "sass/size";

.IconLabel {
    display: flex;
    align-items: center;
    gap: 0.6 * size.$gap;
    line-height: 1;

    &-icon {
        width: fit-content;
        height: fit-content;
        cursor: default !important;
        border-radius: 50%;
        box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.1);

        & > img,
        & > svg {
            width: 1.5 * size.$gap;
            height: 1.5 * size.$gap;
        }
    }

    &-label {
        font-weight: bold;
    }
}
